body 
{
  
    background: url("muffin-background.jpg")  no-repeat    ;
    background-size: cover;
}
  
  h1 {
    width: 900px;
    font-family: "Georgia", serif;
    font-size: 39px;
    line-height: 35px;
    
  }
  p
  {
    text-align: center;
  }
  
  h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid ;
    text-align: center;
  }
  
  .site-header {
    margin-bottom: 30px;
  }
  
  .skills-item {
    margin-bottom: 15px;
    padding-left: 20px;
    border-left: 10px solid #c4c4c4;
    ;
  }
  
  .standard {
    border-color: #ffc5b3;
  }
  
  
  
  .container {
    width: 480px;
    margin: 0 auto;
  }
  
  .site-header img {
    display: block;
    margin: 0 auto;
  }
  
  .features {
    margin-bottom: 30px;
  }
  
  .features p {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
    font-size: 20px;
    font-weight: 1000;
    
  }
  

  
  .skills-list {
    padding: 0;
    list-style: none;
  }
  
  .site-footer {
    display: flex;
    justify-content: space-between;
    
  }
  